* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroud-color:#fcf2fb;
}

#start-container,#question-container,#intl-container,#ranking-container {
    margin: 150px auto;
    width: 50vw;
    height: 500px;
    text-align: center;
    border: 2px double;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 50px;
}

.hidden {
    display: none;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

p {
    font-family: Arial, Helvetica, sans-serif;
  }

